@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --tw-text-opacity: 1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  @apply bg-gray-100;
}
